BeetleX.EFCore.Extension/BeetleX.EFCore.Extension/obj/
BeetleX.EFCore.Extension/BeetleX.EFCore.Extension/bin/
BeetleX.EFCore.Extension/.vs/
BeetleX.EFCore.Extension/BeetleX.EFCore.Extension.XUnitTest/bin/
BeetleX.EFCore.Extension/BeetleX.EFCore.Extension.XUnitTest/obj/
